*.bbl
*.blg
*.log
*.out
*.aux
*.toc
*.brf
*.nav
*.snm
*.bz2
*pyc
*.swp
*png
*npy

*.so
build/

*.egg-info
env/
env3/

*.pkl
wandb/
output*/
structurenet_chair_dataset
dist

*.ipynb_checkpoints/
./tmp*
record/
debug*/
*.pt

#VS Code settings
.vscode/
